.container {
    display: flex;
    place-content: center;
    min-height: 1vh;
    align-content: center;
    flex-direction: column;
    padding: 15px;
    justify-content: space-around;

}


.container table {
    width: 100%;
    justify-content: center;

}

.container table th {
    text-align: center;

}
.container table td {
    text-align: center;
}
.paginador {
    height: 74px;

}

